<div class="container-fluid">


    <h1>Dropdowns</h1>

    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-default dropdown-toggle" type="button" id="button1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Click me to open dropdown<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="button1">
            <li class="dropdown-header">First group header</li>
            <li><a href="#">First</a></li>
            <li class="disabled"><a href="#">Second(Disabled)</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Third</a></li>
        </ul>
    </div>

    <div class="dropup" style="display: inline-block">
        <button class="btn btn-default dropdown-toggle" type="button" id="button2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Click me to open dropup <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="button2">
            <li><a href="#">First</a></li>
            <li><a href="#">Second</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Third</a></li>
        </ul>
    </div>

</div>