<style>
    .input-group {
        margin-top: 10px;
    }

    .container {
        width: 600px;
    }
</style>

<div class="container">

    <h1>Forms</h1>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon-1">Some label</span>
        <input type="text" placeholder="Username" class="form-control" aria-labelledby="basic-addon">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="email" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
    </div>

    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <input type="text" class="form-control">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
        <input type="text" class="form-control">
    </div>

    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        <input type="text" class="form-control" placeholder="Search for...">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go1!</button>
        <button class="btn btn-default" type="button">Go2!</button>
      </span>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>