<style>
    .section h3 {
        margin-top: 40px;
        padding: 10px 0;
    }

    body {
        margin-bottom: 100px;
    }
</style>

<div class="section">

    <h3>Tabs</h3>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <h3>Justified tabs</h3>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <h3>Pills</h3>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <h3>Justified Pills</h3>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <h3>Vertical Pills</h3>
    <ul class="nav nav-pills nav-stacked" style="width: 300px">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="disabled"><a href="#">Disabled</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <h3>Tabs with dropdowns</h3>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home1</a></li>
        <li role="presentation"><a href="#">Home2</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                More homes <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#">Home3</a></li>
                <li role="presentation"><a href="#">Home4</a></li>
            </ul>
        </li>
    </ul>

    <h3>Pills with dropdowns</h3>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home1</a></li>
        <li role="presentation"><a href="#">Home2</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                More homes <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#">Home3</a></li>
                <li role="presentation"><a href="#">Home4</a></li>
            </ul>
        </li>
    </ul>
</div>