<div class="container-fluid">

    <h3>
        Labels
    </h3>

    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>

    <h3>
        Badges
    </h3>

    <a href="#">Inbox <span class="badge">42</span></a>

    <button class="btn btn-primary" type="button">
        Messages <span class="badge">4</span>
    </button>

    <ul class="nav nav-pills" role="tablist" style="margin-top: 10px">
        <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
    </ul>

    <h3>
        Alerts
    </h3>

    <div class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>
    <div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again.
    </div>
</div>