<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://lh4.ggpht.com/w5GwSwz-OeyhvTcfh4Tt_1jfEL9RYEUL5lum-8I5v3SS2Q8YzjXrhq4Zk9ZAM6rUEhE=w300"
                     alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://lh4.ggpht.com/w5GwSwz-OeyhvTcfh4Tt_1jfEL9RYEUL5lum-8I5v3SS2Q8YzjXrhq4Zk9ZAM6rUEhE=w300"
                     alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://lh4.ggpht.com/w5GwSwz-OeyhvTcfh4Tt_1jfEL9RYEUL5lum-8I5v3SS2Q8YzjXrhq4Zk9ZAM6rUEhE=w300"
                     alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://lh4.ggpht.com/w5GwSwz-OeyhvTcfh4Tt_1jfEL9RYEUL5lum-8I5v3SS2Q8YzjXrhq4Zk9ZAM6rUEhE=w300"
                     alt="...">
            </a>
        </div>

    </div>
</div>